@font-face {
  font-family: 'Fragment';
  src:
    url ('https://Rimrunner.github.io/SerifRegular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*
url('https://<yourserver>/path/to/font.woff2')format('woff2'),
url('https://<yourserver>/path/to/font.woff')format('woff'),
/*
