@font-face {
  font-family: 'Fragment';
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
  font-display: swap;
  src: url ('https://Rimrunner.github.io/Serif/PPFragment-SerifRegular.otf') format('truetype');
}
